/* body {
  padding: 50px;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}

.topic-add-input {
  padding-top: 15px;
}

.vote-list {
  width: 500px;
} */

div.menu {
  margin-top: 1em
}